@font-face{font-family:'Glyphicons Halflings';src:url('/fonts/glyphicons-halflings-regular.ttf') format('truetype');}
.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}
.glyphicon-chevron-left:before{content:"\e079";}
.glyphicon-chevron-right:before{content:"\e080";}

body, html {
  height: 100%;
  margin: 0;
  color: #777;
  padding-top: 32px;
}

#vue-app {
  height: 100%;
}

.navbar-brand {
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  .navbar-brand {
    font-size: 2rem;
  }
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("/img/nature/seasunset.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/img/nature/sea.jpg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("/img/nature/road.jpg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.central-text-block {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 2rem;
  color: #777;
  background-color:white;
  text-align:center;
  text-align: justify;
}

.central-text-block-monospace {
  max-width: 640px;
  margin: 20px auto;
  font-size: 2rem;
  font-family: monospace;
}

.page-header h1{
  font-size: 3rem;
}
.entered {
  color: rgb(255, 182, 0)!important;
}

#myCarousel {
  margin-top: 40px;
}

/*FOOTER BEGIN*/
footer {   width: 100%; background-color:#0e5366; margin-top: 40px; color: #e5e5e5;}

footer > div.footer-1 {
  min-height:350px;
  font-size: 1.35rem;
  text-align: justify;
}

footer > div > div.row > div {
  margin-top: 60px;
}

footer > div.footer-2 {
  min-height:50px;
  background-color:#093947;
  color: #828282;
}

.copyright p {
  line-height: 50px;
  margin: 0;
}

@media (max-width: 640px) {
  .copyright p {
    font-size: 1rem;
  }
} 

footer .panel {
  color: #212121;
}
/*FOOTER END*/